html {
	fontsize: 10px;
	font-family: 'Roboto Slab', serif;
	background-color: #22D7EB;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}


h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

/*
p:hover {
	transition: all 300ms 0s ease;
	background-color: blue;
}
*/

img {
	display: block;
	margin: 0 auto;
}

button {
	display: block;
	margin: 10px auto;
}

.text_enter {
	display: inline;
	width: 300px;
	height: 100px;
	resize: none;
}